<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Define variables -->
	<property name="LOKI_URL" value="http://loki:3100/loki/api/v1/push" />
	<property name="SERVICE_NAME" value="product-service" />
	<property name="ENVIRONMENT" value="dev" />

	<!-- Console Logging -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Loki Logging -->
	<appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
		<http>
			<url>${LOKI_URL}</url>
			<connectTimeoutMs>5000</connectTimeoutMs>
			<readTimeoutMs>10000</readTimeoutMs>
			<sendRetryCount>5</sendRetryCount>
			<sendRetryDelayMs>2000</sendRetryDelayMs>
		</http>
		<format>
			<label>
				<pattern>app=${SERVICE_NAME}, environment=${ENVIRONMENT}, level=%level, logger=%logger{36}</pattern>
				<readMarkers>true</readMarkers>
			</label>
			<message>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n</pattern>
			</message>
		</format>
	</appender>

	<!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="LOKI"/>
	</root>

</configuration>
